<div>
    <tr class="clickable s-listing" data-listing-id={{_id}} data-listing-company={{employerId.company}}>
      <td>{{employerId.company}}</td>
      <td>{{title}}</td>
      <td>{{description}}</td>
    </tr>
</div>
