<form id="submit-app-form" data-app-id="{{appId}}" data-is-common="{{isCommon}}">
	{{#each questions}}
		<div class="form-group">
			{{> question this isSubmitted=../isSubmitted isCommon=../isCommon}}
		</div>
	{{else}}
		<p>No Questions!</p>
	{{/each}}
	{{#if isSubmitted}}
	{{else}}
		<div class="form-group">
	        {{#if isCommon}}
	        {{else}}
	        	<button type="submit" id="save-app-btn" class="btn btn-primary" id="saveButton">Save</button>
	        {{/if}}
	        <input type="submit" id="submit-app-btn" class="btn btn-primary" id="submitButton"/>
	    </div>
    {{/if}}
</form>