<!--poor solution to get out of page-->
<a href="/" id="home-link">Back to Dash</a>
<div class="full-app">

	{{#if isStar}}
		<button id="unstar-app-btn" class="btn btn-primary btn-lg" data-app-id="{{customId}}" data-listing-id="{{listing._id}}" data-user-id="{{owner._id}}">
			<span class='glyphicon glyphicon-star center' style="color:yellow"></span>
		</button>
	{{else}}
		<button id="star-app-btn" class="btn btn-primary btn-lg" data-app-id="{{customId}}" data-listing-id="{{listing._id}}" data-user-id="{{owner._id}}">
			<span class='glyphicon glyphicon-star center'></span>
		</button>
	{{/if}}

	<button id="reject-app-btn" class="btn btn-primary" data-app-id="{{customId}}" data-listing-id="{{listing._id}}" data-user-id="{{owner._id}}">
		Reject
	</button>

	<h3>Common Application</h3>
	{{> application common isSubmitted=isSubmitted isCommon=true}}
	<h3>Custom Application</h3>
	{{> application custom isSubmitted=isSubmitted isCommon=false}}
</div>