<!-- author: Jennifer Wu -->

<div class="question">
	<label class="control-label">{{question}}</label>
	<textarea 
		{{#if isCommon}}
			rows="1"
		{{else}}
		{{/if}}
		
		{{#if isInProgress}} 
		{{else}}
			disabled
		{{/if}}
		
		{{#if required}}
			required
		{{else}}
		{{/if}}
		
		class="form-control" name="{{_id}}">{{answer}}</textarea>
</div>