<!-- author: Jennifer Wu -->

<div>

	<a href="/" id="home-link">Back to Dash</a>

	<h1>Custom Application</h1>

	<br>

	<label>Position Title: </label> {{title}}

	<br>
	<br>

	{{#if isInProgress}}
		<button id="delete-custom-btn" class="btn btn-primary" data-custom-id="{{customId}}">Delete</button>
	{{else}}
	{{/if}}

	{{#if isSubmitted}}
		<button id="withdraw-custom-btn" class="btn btn-primary" data-custom-id="{{customId}}">Withdraw</button>
	{{else}}
	{{/if}}

	<h3>Application</h3>

	<form id="submit-custom-form" data-custom-id="{{customId}}" data-user-id="{{owner}}" data-listing-id="{{listing}}">
		{{> application this}}
		{{#if isInProgress}}
			<button id="save-custom-btn" class="btn btn-primary" >Save</button>
			<input type="submit" class="btn btn-primary"/>
		{{else}}
	    {{/if}}
	</form>
	
</div>