<!-- author: Maddie Dawson -->

<div class="student-dash-app">
  <tr class="clickable student-app" data-listing-id={{listingid}} data-user-id={{userid}}>
  	<td>{{company}}</td>
  	<td>{{title}}</td>
  	<td>{{state}}</td>
  </tr>
</div>