<div>
    <tr class="clickable s-listing" data-listing-id={{_id}} data-listing-company={{employer.company}}>
      <td>{{employer.company}}</td>
      <td>{{title}}</td>
      <td>{{deadline}}</td>
    </tr>
</div>
