<div>
	<a href="/" id="home-link">Back to Dash</a>
</div>

<div class="listing">
	<label>Company: </label> {{company}}
	<br>
	<label>Position Title: </label> {{title}}
	
	<br>
	<br>

	<label>Description:</label>
	<p>{{description}}</p>

	<br>
	<br>

	<label>Requirements:</label>
	<p>{{requirements}}</p>

	<br>
	<br>

	<button class="btn btn-primary" id="add-app" data-listing-id={{_id}}>Add to my list</button>	
</div>